{% extends 'base.html.twig' %}

{% block title %}Licorne vous guide !
{% endblock %}

{% block body %}
	<div class="row justify-content-center">
		<div class="col">
			<h1 class="display-1  text-white">Avec Licorne<span>Le chemin est tout tracé !</span>
			</h1>
			<p class="lead  text-white">Laissez vous guider simplement dans votre processus d'achat, que vous souhaitiez défiscaliser ou acheter votre première demeure</p>
			<div class="btn-wrapper">
				<a href="{{ path('defiscalisation_form') }}" class="btn btn-info btn-icon mb-3 mb-sm-0 btn-lg">
					<span class="btn-inner--icon">
						<i class="fa fa-dollar"></i>
					</span>
					<span class="btn-inner--text">Je veux défiscaliser</span>
				</a>
				<a href="#" class="btn btn-white btn-icon mb-3 mb-sm-0 btn-lg">
					<span class="btn-inner--icon">
						<i class="fa fa-home"></i>
					</span>
					<span class="btn-inner--text">Je veux m'installer</span>
				</a>
			</div>
		</div>
	</div>

{% endblock %}
